body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* Color */
:root {
  --PrimaryBrand: #4d5ae5;
  --Pressedstate: #404bbf;
  --Dark: #2e2f42;
  --Success: #31d0aa;

  --SubtleText: #8e8f99;
  --Accent: #e7e9fc;
  --Light: #f4f4fd;
  --Modaloverlay: #2e2f42;
  --Herobackground: #2e2f42;
  --Whitebackground: #ffffff;
  --Modalbackground: #fcfcfc;
}

/* Початок та кінець */
.nav {
  color: #2e2f42;
}
.loggo {
  color: #2e2f42;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}
.logos {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  background: #2e2f42;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.logo_change_link {
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-decoration: none;
  color: #f4f4fd;
}
.nav_list .nav_list_link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
line-height: 1.5 ;

  letter-spacing: 0.02em;
  font-style: normal;
  text-decoration: none;
  color: #434455;
}
.logo_link_text {
  font-weight: 400;
  color: #2e2f42;
}

.address_list .address_list_link:hover,
.address_list .address_list_link:active,
.address_list .address_list_link:focus {
  color: var(--Pressedstate);
  font-style: normal;
  line-height: 1.5;

  letter-spacing: 0.02em;
}

.address_list .address_list_link {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32;
  color: var(--Dark);
  text-decoration: none;
}

/* Кнопки */
.button_item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--PrimaryBrand);
  background-color: var(--Light);
  cursor: pointer;
  background-color: #404bbf;
  font-style: normal;
}
.button_item:hover,
.button_item:focus {
  color: #ffffff;
  background-color: #404bbf;
}
.button {
  color: var(--Modaloverlay);
}
.buttons {
  background-color: #404bbf;
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  cursor: pointer;
  background-color: #404bbf;
}
.buttonse {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  background-color: #4d5ae5;
  color: #4d5ae5;
  background-color: #f4f4fd;
}

/* Головна */
.hero {
  background-color: #2e2f42;
  color: #ffffff;
}
.hero_title {
  background-color: #4D5AE5;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
/* Секція 1 */
.info {
}
.info_list {
}
.info_list_item {
  list-style: none;
}
.info_list_name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.info_list_text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* Секція 2 */
.doing {
  background-color: #ffffff;
  text-transform: capitalize;
}
.doing_title {
  letter-spacing: 0.02em;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;

  color: var(--Dark);
}
.doing_list {
  background-color: #ffffff;
}
.doing_list_item {
  text-align: center;
}
/* Секція 3 */
.our {
  background-color: #f4f4fd;
}
.our_title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  background-color: #ffffff;
}

.our_list {
  background-color: #ffffff;
}

.our_list_name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.our_list_job {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Портфоліо */
.main_menu {
}
.menu_list {
  color: var(--Whitebackground);
}
.menu_list_item {
  font-family: "Roboto", sans-serif;
}
.menu_list_item_img {
}
.menu_list_item_tittle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Dark);
}
.menu_list_item_text {
}
