body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* Color */
:root {
  --PrimaryBrand: #4d5ae5;
  --Pressedstate: #404bbf;
  --Dark: #2e2f42;
  --Success: #31d0aa;
  --Text: #434455;
  --SubtleText: #8e8f99;
  --Accent: #e7e9fc;
  --Light: #f4f4fd;
  --Modaloverlay: #2e2f42;
  --Herobackground: #2e2f42;
  --Whitebackground: #ffffff;
  --Modalbackground: #fcfcfc;
}
/* Початок та кінець */
.nav {
  font-family: "Raleway", sans-serif;
  color: #2e2f42;
}
.logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}
.logos {
  font-family: "Raleway", sans-serif;
  width: 1440px;
  line-height: 1.5;
  background: #2e2f42;
  color: #f4f4fd;
  line-height: 1.5;
}
.logo_change_link {
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.nav_list_link {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32p;
}
.logo_link_text {
  font-weight: 400;
}
